.skill-card {
    /* background-color: #05053b47; */
    /* background-color: #1a1ad147; */
    height: 25vh;
    width: 7vw;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.circle {
    background-color: pink;
    width: 80px;
    height: 80px;
    border-radius: 100px;
}

.tag {
    color: white;
    font-size: 20px;
}