.skill-wrap {
    height: 100%;
    width: 74vw;
    display: grid;
    /* gap: 30px; */
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
    padding-top: 20px;
    row-gap: 50px;
}