@font-face {
  font-family: JetBrains;
  src: url(assets/ttf/JetBrainsMono-Regular.ttf);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
.App{
  background-color: #01011d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}
.nav-wrapper{
  height: 15vh;
  width: 100%;
  display: flex;
  justify-items: center;
  align-items: center;
}
.main-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 100%;
}
.social-wrapper{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

